@mixin background ($imgpath, $color: '', $position: center, $repeat:no-repeat, $size: cover) {
  background: {
    image: url($imgpath);
    color: $color;
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}